<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="updaterecord/{{student.id}}" method="post">
        {%csrf_token%}
       s_name: <input name="student_name" value="{{student.student_name}}"><br>
       rollno: <input name="roll_no" value="{{student.roll_no}}"><br>
       branch: <input name="branch" value="{{student.branch}}">
submit: <input type="submit" value="submit">

    </form>
    
</body>
</html>